/*
.assign-member input,
.members input {
    color: #68748f;
}

.assign-member .v-select.vs--searchable,
.members .v-select.vs--searchable {
    width: 100%;
}

.assign-member .vs--searchable .vs__dropdown-toggle {
    border-top-right-radius: unset !important;
    border-bottom-right-radius: unset !important;
    padding-bottom: 0;
    border: 1px solid #e9e9e9;
}

.members .vs--searchable .vs__dropdown-toggle {
    padding-bottom: 0;
    border: 1px solid #e9e9e9;
}

.assign-member .vs__search,
.vs__search:focus,
.members .vs__search {
    font-size: 12px !important;
    color: #909cb8;
     ::-webkit-input-placeholder {
        font-size: 12px;
    }
}

.members .vs__dropdown-menu,
.assign-member .vs__dropdown-menu {
    margin-top: 5px;
    border-radius: 4px;
}

.assign-member .vs__selected,
.members .vs__selected {
    margin: 0 !important;
}

.assign-member .vs__open-indicator {
    display: none;
}

.members .vs__open-indicator {
    font-size: 5px;
}

.assign-member ul li,
.members ul li {
    background: #fff;
    color: #68748f;
}

.members .vs--searchable .vs__dropdown-toggle {
    width: 100%;
}

.members:hover {
    text-decoration: none;
}

.members-line {
    padding: 7px;
    border-radius: 4px;
    cursor: pointer;
}

.members-line:hover {
    background: #f2f2f2;
}

.btn-members {
    width: 250px;
    height: 32px;
    background: #ffffff;
    border: 1px solid #e9e9e9;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 12px;
    line-height: 18px;
    color: #909cb8;
}

.invite-members button {
    height: 32px;
    font-size: 13px;
    width: 160px;
    padding: inherit !important;
}

.invite-container {
    border: 1px solid rgba(214, 214, 224, 0.4);
    background: rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    padding: 20px 15px 15px;
    margin: 0 0 20px 0;
}

.invite-form-container {
    margin-left: 30px;
    max-width: 550px;
}

.invite-form .form-group {
    margin-bottom: 10px;
}

.invite-form .form-group input {
    background: #ffffff;
    width: 255px;
    border: 1px solid #e9e9e9;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 6px 10px;
    font-size: 12px;
    line-height: 18px;
    color: #909cb8;
}

.invite-form.invite-form-company .form-group input {
    background: #ffffff;
    width: 100%;
    border: 1px solid #e9e9e9;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 6px 10px;
    font-size: 12px;
    line-height: 18px;
    color: #909cb8;
}

.invite-img h4 {
    margin-top: 25px;
}

.invite-img p {
    padding: 0 85px;
}

.toggle-remove a.header-dropdown-item {
    font-weight: 600;
    font-size: 12px !important;
    text-transform: uppercase;
    color: #a7afb7 !important;
}

.toggle-remove a.header-dropdown-item:hover {
    text-decoration: underline;
    background: #fff !important;
    color: #6c7293 !important;
}

.txt-68748F {
    color: #68748f !important;
}

.dropdown-menu-center {
    right: auto !important;
    left: 50% !important;
    top: 20px !important;
    -webkit-transform: translate(-50%, 0) !important;
    -o-transform: translate(-50%, 0) !important;
    transform: translate(-50%, 0) !important;
}

.dropdown-role .dropdown-item:hover,
.dropdown-item:focus {
    color: #2b65f0;
    text-decoration: none;
    background-color: #edf0ff;
    border-radius: 4px;
}
*/